body{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  }
.nav{
    margin: 0%;
    padding: 0%;
    width: 200px;
    float:left;
    background-color: rgb(33, 197, 60);
    position: fixed;
    height:100%;
    overflow: auto;
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}
.nav a{
    display: block;
    color: rgb(146, 127, 218);
    padding: 16px;
    text-decoration: none;/*เอาเส้นออก*/
   
}
.nav a.active{
    background-color: blueviolet;
    color: blanchedalmond;
}
.nav a:hover:not(.active){  /*เปลี่ยนสีเมื่อเอาเมาส์ไปวาง*/
    background-color: palegreen;
    color: teal;
}
div.content{
    margin: 0px 200px;
    padding: 1px 16px;
}
.profile .img-responsive{
    height: auto;
    width: 50%;
}
.sidebar{
    margin: 0%;
    padding: 10px;
    width: 180px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    background-color:indianred;
   background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.profile{
    text-align: center;
}
table{
    width:100%;
    height:auto;
    border-collapse: collapse;
}
td,th{
border: 5px solid hotpink;
text-align: left;
padding:20px;
}
tr:nth-child(even){
    background-color: aqua;
}
tr:nth-child(odd){
    background-color: rgb(243, 187, 113);
}
@media screen and (max-width:700px){
    .nav{
        width: 100%;
        height:auto;
        position: fixed;
        top: 0;
    }
    .nav a{
        float: left;
    }
    .content{
        margin: 30px 0 0;
    }
    .sidebar{
        position: relative;
        width: 100%;
    }
}
@media screen and (max-width:400px){
    .nav{
        position: relative;}
    .nav a{
        text-align: center;
        float: none;
    }
    .content{
        margin-top: 0;
    }
}
.bk{
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);width: auto;
    padding: 1px;
    color: rgb(35, 255, 53);
    text-align: center;
    width:auto;
    border-radius: 12%; 
   
   
}
.bk2{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    padding: 1px;
    color: rgb(243, 2, 82);
    text-align: center;
    width:auto;
    border-radius: 12%; 
   
}